body {
  background-color: rgb(165, 197, 225);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:#8f6952;
  border: 1px solid black;
  border-radius: 3%;
}

.map {
  height: 600px;
  width: 800px;
  border: 1px solid black;
  background-color: rgb(159, 248, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("./assets/jamGame/initialLoad.PNG");
  background-size: cover;
  z-index: 0;
}

.gameStart {
  
  background-image: url("./assets/jamGame/backdrop.PNG");
  background-size: cover;
}

.map button {
  height: 10%;
  width: 25%;
  color:rgb(79, 49, 44);
  background-color: rgb(255, 255, 255);
  margin-top: 10%;
  margin-right: 10%;

}

.Player {
  
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 350px;
  top: 350px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0px 0px 0px;
  position: relative;
}

.navBar button {
  margin-left: 5%;
  margin-top: 0px;
  margin-right: 0px;
  width: 15%;
  height: auto;
}

.navBar p {
  margin-right: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFF
}

.Menu {
  border: 4mm ridge #b17e5f;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding: 1%;
  width: 350px
}

.menuNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  top: 0px;
  position: absolute;
}

.menuNavBar button {
  color: rgb(19, 19, 19);
  font-weight: bold;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.menuNavBar button:hover {
  color: red
}

.menuOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startButton{
  background-color: #fbeee0;
  border: 2px solid #6a4935;
  border-radius: 30px;
  box-shadow: #6a4935 4px 4px 0 0;
  color: #6a4935;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.startButton:hover {
  background-color: #fff;
}

.startButton:active {
  box-shadow: #5c3f19 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .startButton {
    min-width: 120px;
    padding: 0 25px;
  }
}

