.customer {
    height: 500px;
    width: 500px;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:-11;
}

.deer {
    background-image: url("./assets/customers/deer.PNG");
    background-size: cover;
  }

.deer-angry {
  background-image: url("./assets/customers/madDeer.PNG");
  background-size: cover;
}

.deer-happy {
  background-image: url("./assets/customers/happyDeer.PNG");
  background-size: cover;
}

.bear {

  background-image: url("./assets/customers/bear.png");
  background-size: cover;
}

.bear-angry {
  background-image: url("./assets/customers/madBear.PNG");
  background-size: cover;
}

.bear-happy {
  background-image: url("./assets/customers/happyBear.PNG");
  background-size: cover;
}

.elephant {
  background-image: url("./assets/customers/elephant.png");
  background-size: cover;
}

.elephant-angry {
  background-image: url("./assets/customers/madElephant.PNG");
  background-size: cover;
}

.elephant-happy {
  background-image: url("./assets/customers/happyElephant.PNG");
  background-size: cover;
}

.fly {
  background-image: url("./assets/customers/fly.png");
  background-size: cover;
}

.fly-angry {
  background-image: url("./assets/customers/madFly.PNG");
  background-size: cover;
}

.fly-happy {
  background-image: url("./assets/customers/happyFly.PNG");
  background-size: cover;
}

.bubble {
  width: 300px;
  height: 300px;
  background-image: url("./assets/jamGame/bubble.PNG");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.b-deer {
  margin-left: 55%;
  margin-top: 15%;
}

.b-elephant {
  margin-left: 85%;
  margin-top: 35%;
}

.b-fly {
  margin-left: 55%;
  margin-top: 15%;
}

.b-bear {
  margin-left: 55%;
  margin-top: -10%;
}

.fruit {
  width: 75px;
  height: 75px;
}

.banana {
  background-image: url("./assets/jamGame/banana.png");
  background-size: cover;
}

.strawberry {
  background-image: url("./assets/jamGame/strawberry.png");
  background-size: cover;
}

.blueberry {
  background-image: url("./assets/jamGame/blueberry.png");
  background-size: cover;
}

.grape {
  background-image: url("./assets/jamGame/grape.png");
  background-size: cover;
}

.f-1 {
  margin-top: 40%;
  margin-left: 50%;
}

.f-2 {
  margin-top: 40%;
  margin-left: 20%;
}

.f-3 {
  margin-left: 50%;
  margin-top: -21%;
}

.f-4 {
  margin-top: -20%;
  margin-left: 20%;
}