.customer {
    height: 500px;
    width: 500px;
    top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:-11;
}

.deer {
    background-image: url("./assets/customers/deer.PNG");
    background-size: cover;
  }

  .bear {

    background-image: url("./assets/customers/bear.png");
    background-size: cover;
  }

  .elephant {
    background-image: url("./assets/customers/elephant.png");
    background-size: cover;
  }

  .fly {
    background-image: url("./assets/customers/fly.png");
    background-size: cover;
  }

  .bubble {
    width: 300px;
    height: 300px;
    background-image: url("./assets/jamGame/bubble.PNG");
    background-size: cover;
  }

  .b-deer {
    margin-left: 55%;
    margin-top: 15%;
  }

  .b-elephant {
    margin-left: 85%;
    margin-top: 35%;
  }

  .b-fly {
    margin-left: 55%;
    margin-top: 15%;
  }

  .b-bear {
    margin-left: 55%;
    margin-top: -10%;
  }