.Game {
    display: flex;
    width: auto;
    height: 600px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    
}

.Counter {
    width: 801px;
    height: 200px;
    background-image: url("./assets/jamGame/counter.PNG");
    top: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
  }

  .Game button {
    width: auto;
    margin-bottom: 5%;
  }

  .Jams{
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .jam{
    height: 10%;
    width: 25%;
    color: rgb(2, 2, 2);
    background-color: transparent !important;
    margin-top: -50px !important;
    margin-right: 0% !important;
  }