.Game {
    display: flex;
    width: auto;
    height: 600px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    
}

.Counter {
    width: 801px;
    height: 200px;
    background-image: url("./assets/jamGame/counter.PNG");
    top: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
  }

  .Game button {
    width: auto;
    margin-bottom: 5%;
  }

  .Jams{
    display: flex;
    width: auto;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .jam{
    height: 10%;
    width: 25%;
    color: rgb(2, 2, 2);
    background-color: transparent !important;
    margin-top: -50px !important;
    margin-right: 0% !important;
  }

  .Timer{
    top: 5px !important;
    color: yellow;
    font-size: 50px;
  }
 

  /* Button Credit: https://getcssscan.com/css-buttons-examples, Button 56 */
  .serveButton{
    background-color: #fbeee0;
    border: 2px solid #6a4935;
    border-radius: 30px;
    box-shadow: #6a4935 4px 4px 0 0;
    color: #6a4935;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .serveButton:hover {
    background-color: #fff;
  }
  
  .serveButton:active {
    box-shadow: #5c3f19 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .serveButton {
      min-width: 120px;
      padding: 0 25px;
    }
  }


  .gameOver {
    height: 500px;
    width: 500px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index:-11;
    background-image: url("./assets/customers/happyManager.PNG");
    background-size: cover;
  }